<link rel="stylesheet" href="/css/admin.css">
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <header>
    <div class="menu">
      <div class="heading-menu">
        <img class="img-logo" src="/img/logo.png" alt="">
      </div>
      <ul class="list-menu">
        <li class="list-menu-title"><img class="img-icon-menu" src="/img/home.svg" alt="">Home</li>
        <li class="list-menu-title"><img class="img-icon-menu" src="/img/product.svg" alt="">Quản Lý Sản Phẩm</li>
        <li class="list-menu-title"><img class="img-icon-menu" src="/img/oder.svg" alt="">Quản lý đơn hàng</li>
        <li class="list-menu-title"><img class="img-icon-menu" src="/img/bill.svg" alt="">Quản lý hóa đơn</li>
        <li class="list-menu-title"><img class="img-icon-menu" src="/img/statistical.svg" alt="">Thống kê doanh thu</li>
      </ul>
    </div>
    <nav class="header">

    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="search">
          <input class="text-search" type="text" placeholder="Tìm kiếm..."><img class="icon-search"
            src="/img/search.jpg" alt="">
        </div>

        <button class="add-product">
          <a href="/admin/create" class="text-add-product">Thêm sản phẩm</a>
        </button>
      </div>
    </div>




    <table class="table">
      <thead>
        <tr>
          <th style="background-color: #B1B1B1; width:10%;padding:20px;" class="header-title" scope="col">Tên Sản
            Phẩm</th>
          <th style="background-color: #B1B1B1; width:9%;padding:20px" class="header-title" scope="col">Nguồn gốc</th>
          <th style="background-color: #B1B1B1; width:5%;padding:20px" class="header-title" scope="col">Số lượng</th>
          <th style="background-color: #B1B1B1; width:5%;padding:20px" class="header-title" scope="col">Thể Loại</th>
          <th style="background-color: #B1B1B1; width:17%;padding:25px" class="header-title" scope="col">Mô tả</th>
          <th style="background-color: #B1B1B1;padding:25px" class="header-title" scope="col">Đơn giá</th>
          <th style="background-color: #B1B1B1;width:10%;padding:25px" class="header-title-img" scope="col">Hình ảnh
          </th>

          <th style="background-color: #B1B1B1; width:23%;" class="header-title" style="width: 20%;"></th>

      </thead>
      {{#each product }}

      <tbody id="">
        <tr>
          <td style="background-color:F1F8FF" class="text-content">
            <p class="text">{{this.name}}</p>
          </td>
          <td style="background-color:F1F8FF" class="text-content">

            <p class="text">{{ this.origin }}</p>
          </td>
          <td style="background-color:F1F8FF" class="text-content">
            <p class="text">{{this.quantity}}</p>
          </td>
          <td style="background-color:F1F8FF" class="text-content">
            <p class="text">{{this.type}}</p>
          </td>
          <td style="background-color:F1F8FF" class="text-content">
            <p class="text">{{this.description}}</p>
          </td>
          <td style="background-color:F1F8FF" class="text-content">
            <p class="text">{{this.price}}</p>
          </td>
          <td style="background-color:F1F8FF" class="text-content">
            <div class="dad-box">
              <img class="img-wine" src="uploads/{{this.imgsrc}}" alt="">
            </div>
          </td>

          <td style="background-color:F1F8FF" class="text-content">
            <div class="edit">
              <a href="/admin/{{ this._id }}/edit" class="btn-edit"><img class="img-edit" src="/img/edit.jpg"
                  alt="">Sửa</a>
            </div>

            <div class="delete">
              <a class="btn-delete" data-bs-toggle="modal" data-id="{{ this._id }}"
                data-bs-target="#delete-course-modal"><img class="img-delete" src="/img/bin.jpg" alt="">Xóa</a>
            </div>
          </td>


        </tr>
      </tbody>
      {{/each }}
    </table>
  </div>
  <!-- Modal -->
  <div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa sản phẩm?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa sản phẩm này?</p>
        </div>
        <div class="modal-footer">
          <button id="btn-delete-prd" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa bỏ</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>

  <form name="delete-prd-form" method="POST"></form>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var productId;
      var deleteForm = document.forms['delete-prd-form'];
      var btnDeleteProduct = document.getElementById('btn-delete-prd')
      $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        productId = button.data('id')
        console.log(btnDeleteProduct)
      })

      var btnDeleteProduct = document.getElementById('btn-delete-prd')
      btnDeleteProduct.onclick = function () {
        deleteForm.action = '/admin/' + productId + '?_method=Delete';
        deleteForm.submit();
      }
    });

  </script>
</body>


</html>