<div class="d-flex flex-row">

  <div class="menu">
    <div class="heading-menu">
      <img class="img-logo" src="/img/logo.png" alt="">
    </div>
    <ul class="list-menu">
      <li class="list-menu-title"><a href="/admin"><img class="img-icon-menu" src="/img/product.svg" alt="">Quản lý sản phẩm</a></li>
      <li class="list-menu-title"><a href="/admin/bill"><img class="img-icon-menu" src="/img/oder.svg" alt="">Quản lý đơn hàng</a></li>
      <li class="list-menu-title"><a href="/admin/voucher"><img class="img-icon-menu" src="/img/bill.svg" alt="">Quản lý Voucher</a></li>
      <li class="list-menu-title"><a href="/admin/statistic"><img class="img-icon-menu" src="/img/statistical.svg" alt="">Thống kê doanh thu</a></li>
      <li class="list-menu-title"><a href="/admin/alluser"><i class="bi bi-person-vcard" style="font-size: 25px; padding-right: 12px"></i>Kiểm tra user</a></li>

    </ul>
  </div>
  <div class="admin-content">
    <div class="search-bar-wrap col-7">
    {{!-- <form class="d-flex" role="search" action="/search" method="get">
      <input id="search-input" class="form-control" placeholder="Tìm kiếm" name="query">
      <div id="search-results"></div>
      <button class="search-submit" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form> --}}
    </div>
    <button class="add-product">
      <a href="/admin/create" class="text-add-product">Thêm sản phẩm</a>
    </button>




    <table id="my-table" class="table table-striped">
      <thead>
        <tr>
          <th class="header-title" scope="col">STT</th>
          <th class="header-title" scope="col">Tên sản phẩm</th>
          <th class="header-title" scope="col">Số lượng</th>
          <th class="header-title" scope="col">Thể loại</th>
          <th class="header-title" scope="col">Giá nhập</th>
          <th class="header-title" scope="col">Giá bán</th>
          <th class="header-title" scope="col">Hình ảnh</th>
          <th class="header-title" scope="col">Hành động</th>
      </thead>
      <tbody class="table-group-divider">

      {{#each products }}

        <tr>
          <td class="table-content"></td>
          <td class="table-content">
            <p class="text">{{this.name}}</p>
          </td>
          <td class="table-content">
            <p class="text">{{this.quantity}}</p>
          </td>
          <td class="table-content">
            <p class="text">{{this.type}}</p>
          </td>
            <td class="table-content">
            <p class="text">{{this.costprice}}</p>
          </td>
          <td class="table-content">
            <p class="text">{{this.price}}</p>
          </td>
          <td class="table-content">
            <div class="dad-box">
              <img class="img-wine" src="uploads/{{this.imgsrc}}" alt="">
            </div>
          </td>
          <td class="table-content">
              <button class="btn btn-primary edit-admin-btn" value="{{this._id }}" ><i class="bi bi-pencil">  Sửa</i></button>
              <button class="btn btn-danger delete-admin-btn" value="{{this._id }}" ><i class="bi bi-trash">  Xóa</i></button>
          </td>
        </tr>
      {{/each }}
      </tbody>

    </table>
  </div>
</div>

  <!-- Modal -->
  <div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa sản phẩm?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa sản phẩm này?</p>
        </div>
        <div class="modal-footer">
          <button id="btn-delete-prd" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa bỏ</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>

  <form name="admin-form"></form>
  <script>
    $(document).ready(function(){
    var editBtn = $('.edit-admin-btn')
    var deleteBtn = $('.delete-admin-btn')
    var form = $('[name="admin-form"]')
  
    editBtn.click(function(){
      form.attr('action','/admin/edit/'+ $(this).val())
      form.attr('method','get') 
      form.submit()
    })

    deleteBtn.click(function(){
      form.attr('action','/admin/delete/'+ $(this).val())
      form.attr('method','get')
      form.submit()
    })

    $('#my-table tbody tr').each(function(index) {
      $(this).find('td:first').text(index + 1);
    });
});
  

  </script>
