<div style="width:100%" class="row">
  <form class="d-flex" name="cart-products-form" action="/cart/buy" method="post">
  <div class="cart-products col-8" >
    <h3>Giỏ hàng</h3>
    <p>Bạn đang có {{user.cart.length}} sản phẩm trong giỏ hàng</p>
    <div class="form-check form-check-all d-flex">
      <input class="input-check-all" type="checkbox" id="flexCheckAllDefault">
      <label class="form-check-label" for="flexCheckAllDefault">
        Chọn tất cả
      </label>
      <button style="margin-left:20px;background: #fff;color: #000;border: none;
}" class="btn-del btn btn-primary" name="action" value="delete" type="submit" disabled="disabled">Xóa</button>
    </div>
    <br>
    {{#each products}}
    <div class="cart-product d-flex flex-row">
      <div class="form-check d-flex">
        <input class="input-check" type="checkbox" value="{{this._id }}" name="productsIds[]" id="flexCheckDefault">
      </div>
      <img src="/uploads/{{ this.imgsrc }}" alt="">
      <div class="cart-product-content">
        <h5 class="cart-product-name">{{this.name}}</h5>
        <h5 class="cart-product-price">{{this.price}} Đ</h5>
      </div>
      <div class="d-flex cart-product-edit">
        <button class="del-cart edit-cart-btn"><i class=" bi bi-dash-lg"></i></button>
        <h5 class="edit-cart-value">{{this.quantity}}</h5>
        <button class="add-cart edit-cart-btn"><i class=" bi bi-plus-lg"></i></button>
        <h6 class="cart-product-price2">Thành tiền: {{this.summ}} Đ</h6>
        <button class="btn btn-light cart-btn-delete" value="{{this._id }}">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
    <hr>
    {{/each }}



  </div>

  <div class="col-4 cart-pay">

    <h3 style="padding-left: 20px">Thông tin đơn hàng</h3>


    <hr>
    <div class="all-price"></div>
    <button style="margin-top:20px;background-color: #7B181A;" class="btn-buy btn btn-primary" name="action" value="buy"
      type="submit" disabled="disabled">Tiến hành đặt
      hàng</button>


    <div class="btn-continue-buy">
      <a style="text-decoration: none; text-align: center;color:#7B181A;" class="" href="/">Tiếp tục mua hàng</a>
    </div>
  </div>
  </form>
  
  {{!-- <form name="cart-products-form"></form> --}}
  <form name="delete-form" ></form>
</div>


<script>
  $(document).ready(function () {

    var checkboxAll = $('.input-check-all')
    var productsCheck = $('input[name="productsIds[]"]')
    var buyBtn = $('.btn-buy')
    var delAllBtn = $('.btn-del')
    var delBtn = $('.cart-btn-delete')
    var formDel =  $("[name='delete-form']");  
    var formAll = $("[name='cart-products-form']");
    var submitAble = false;


    formAll.on('submit', function (e) {
      // e.preventDefault();

    })


    delBtn.click(function (e) {
      e.preventDefault();
      formDel.attr('action','/cart/delete/' + $(this).val()) 
      formDel.attr('method','get') 
      formDel.submit();
    })

    checkboxAll.change(function () {
      var isCheckAll = $(this).prop('checked');
      productsCheck.prop('checked', isCheckAll);
      checkSelectedProduct();
      bill()
    })

    productsCheck.change(function () {
      var isCheckAll = productsCheck.length === $('input[name="productsIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckAll);
      checkSelectedProduct();
      bill()
    })

    function checkSelectedProduct() {
      var checkCount = $('input[name="productsIds[]"]:checked').length;
      if (checkCount > 0) {
        buyBtn.attr('disabled', false)
        delAllBtn.attr('disabled', false)
        submitAble = true
      }
      else {
        buyBtn.attr('disabled', true)
        delAllBtn.attr('disabled', true)
        submitAble = false
      }
    }

    function bill() {
      var arr = [];
      for (var i = 0; i < productsCheck.length; i++) {
        if (productsCheck[i].checked)
          arr.push(productsCheck[i].value)
      }
      if (arr.length != 0) {
        $.ajax({
          url: "/cart/all-price",
          method: "post",
          dataType: 'json',
          data: {
            productsIds: arr
          },
          success: function (get_data) {
            data = get_data.sum
            output = '<h6> Tạm tính: ' + data + 'Đ</h6>'
            $('.all-price').html(output);

          }
        });
      }
      else {
        output = '<h6> Tạm tính: 0Đ</h6>'
        $('.all-price').html(output);
      }
    };



  });



</script>