<nav class='navbar navbar-expand-lg bg-body-tertiary' data-bs-theme='dark' style="background-color: #e3f2fd;">

  <div class='container-fluid '>

    <div class='collapse navbar-collapse ' id='navbarSupportedContent'>

      <ul class='navbar-nav mb-2 mb-lg-0 ms-auto'>
        <li class='nav-item'>
          <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-bell"></i> Thông báo</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-question-circle"></i> Hỗ trợ</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-globe"></i> Tiếng Việt</a>
        </li>
        <li>

          <div class='btn-group'>
            <button type='button' class='btn dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'
              x-placement='left-start'>
              <i class="bi bi-person"></i>
              {{user.fullname}}

            </button>
            <ul class='dropdown-menu'>
              {{#if user.role}}
              <li><a class='dropdown-item' href='#'>Quản lí sản phẩm</a></li>
              {{else}}
              <li><a class='dropdown-item' href='#'>Thông tin tải khoản</a></li>
              <li><a class='dropdown-item' href='#'>Giỏ hàng</a></li>
              <li><a class='dropdown-item' href='#'>Đơn mua</a></li>
              {{/if}}

              <li>
                <hr class='dropdown-divider' />
              </li>
              <li><a class='dropdown-item' href='/logout'>Đăng xuất</a></li>

            </ul>
          </div>
        </li>

      </ul>

    </div>
  </div>
</nav>
<div class="cart-products">
  <h1>Giỏ hàng</h1>

  {{#each products}}
  <div class="cart-product d-flex">
    <img src="{{ this.imgsrc }}" alt="">
    <div class="cart-product-content">
      <h3 class="cart-product-name">{{this.name}}</h3>
      <h5 class="cart-product-price">{{this.price}} Đ</h5>
    </div>
    <button class="btn btn-light btn-delete" value="{{this._id }}">Xóa</button>
  </div>
  <hr>
  {{/each }}
  <h1>Thành tiền: {{sum}} Đ</h1>

</div>

<form hidden id="delete-form"></form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    
    var form = document.getElementById("delete-form");
    var buttons = Array.from(document.getElementsByClassName("btn-delete"));

    buttons.forEach(button => {
      button.addEventListener("click",() => {
        console.log(button.value);
        form.action = "/cart/delete/" + button.value
        form.method = "GET"
        form.submit();
      })
    });
    

  }
  )

</script>