
<div class="cart-products">
  <h1>Giỏ hàng</h1>

  {{#each products}}
  <div class="cart-product d-flex">
    <img src="{{ this.imgsrc }}" alt="">
    <div class="cart-product-content">
      <h3 class="cart-product-name">{{this.name}}</h3>
      <h5 class="cart-product-price">Đơn giá: {{this.price}} Đ</h5>
      <h5>Số lượng: {{this.quantity}}</h5>
      <h5>Số tiền: {{this.summ}} Đ</h5>
    </div>
    <button class="btn btn-light btn-delete" value="{{this._id }}">Xóa</button>
  </div>
  <hr>
  {{/each }}
  <h1 class="sum-price">Thành tiền: {{sum}} Đ</h1>

</div>

<form hidden id="delete-form"></form>

<script>
  $(document).ready(function(){
    const form = document.getElementById('delete-form');
    $('.btn-delete').click(function(){
      form.action = '/cart/delete/' + $(this).val();
      form.method = 'get'
      form.submit();
    })
  });



</script>