<div class="dad-box">
  {{#if checkuser.auth }}
    <p style="color: green;">Người dùng đã xác thực</p>
  {{ else }}
    {{#if checkuser.userid }}
      <img class="img-wine" src="/uploads/{{ checkuser.userid }}" alt="">
        <button class="btn btn-primary check-admin-btn" value="{{checkuser._id }}" ><i class="bi bi-check2-all">  Xác thực</i></button>
        <button class="btn btn-danger deny-admin-btn" value="{{checkuser._id }}" ><i class="bi bi-x-lg">  Từ chối</i></button>
    {{ else }}
      <p style="color: red;">Người dùng chưa xác thực</p>
    {{/if  }}
  {{/if  }}

  <td class="table-content">
    <p class="text">Username: {{checkuser.username}}</p>
  </td>
  <td class="table-content">
    <p class="text">Họ và tên: {{checkuser.fullname}}</p>
  </td>
  <td class="table-content">
    <p class="text">Năm sinh: {{checkuser.birth}}</p>
  </td>
  <td class="table-content">
    <p class="text">Email: {{checkuser.email}}</p>
  </td>
  <td class="table-content">
    <p class="text">Giới tính: {{checkuser.gender}}</p>
  </td>
  <td class="table-content">
    <p class="text">Địa chỉ: {{checkuser.address}}</p>
  </td>
  <td class="table-content">
    <p class="text">Số điện thoại: {{checkuser.phone}}</p>
  </td>
</div>


  <form name="admin-form"></form>
  <script>
    $(document).ready(function(){
    var checkBtn = $('.check-admin-btn')
    var denyBtn = $('.deny-admin-btn')
    var form = $('[name="admin-form"]')
  
    checkBtn.click(function(){
      form.attr('action','/admin/check/'+ $(this).val())
      form.attr('method','get') 
      form.submit()
    })

    denyBtn.click(function(){
      form.attr('action','/admin/deny/'+ $(this).val())
      form.attr('method','get')
      form.submit()
    })

});
</script>
