<link rel="stylesheet" href="/css/create.css">

<body class="body-create">
  <div class="heading">
    <h3>Cập nhật sản phẩm</h3>
    <form method="POST" action="/admin/edit" enctype="multipart/form-data">
     {{#if errors }}
        <p class="incorrect">{{errors.msg}}</p>
      {{/if  }}
      {{#if errorsPrice }}
        <p class="incorrect">{{errorsPrice}}</p>
      {{/if  }}
      <input type="text" name="_id" value="{{ product._id }}" hidden>
      <div class="form-group">
        <label class="title-product" for="name">Tên sản phẩm:</label>
        <input type="text" class="form-control" value="{{ product.name }}" name="name" id="name" disabled>
      </div>
      <div class="form-group">
        <label class="title-product" for="origin">Nguồn gốc:</label>
        <input type="text" class="form-control" value="{{ product.origin }}" name="origin" id="origin" disabled>
      </div>
      <div class="form-group">
        <label class="title-product" for="quantity">Số lượng:</label>
        <input type="text" class="form-control" value="{{ product.quantity }}" name="quantity" id="quantity">
      </div>
      <label class="title-product" for="quantity">Thể loại:</label>
      <select style="margin-top: 25px; width: 30%;border-radius: 5px;" name="type" id="type" disabled>
        <option value=ruouvang>Rượu vang</option>
        <option value=ruoumanh>Rượu mạnh</option>
        <option value=ruounhe>Rượu nhẹ</option>
        <option value=biavacider>Bia và cider</option>
        <option value=phukien>Phụ kiện rượu</option>
      </select>
      <div class="form-group">
        <label class="title-product" for="description">Mô tả:</label>
        <textarea style=" height: 150px;" class="form-control" name="description" id="description" disabled>{{ product.description }} </textarea>
      </div>
      <div class="form-group">
        <label class="title-product" for="price">Giá nhập:</label>
        <input type="text" class="form-control" value="{{ product.costprice }}" name="costprice" id="costprice">
      </div>
      <div class="form-group">
        <label class="title-product" for="price">Giá bán:</label>
        <input type="text" class="form-control" value="{{ product.price }}" name="price" id="price">
      </div>
      <!-- Button trigger modal -->
      <div style="padding-top: 15px;">
              <button type="submit" class="btn btn-primary">Lưu</button>
       
        {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Lưu
        </button> --}}
        <button type="button" class="btn btn-primary exit-btn"><a href="/admin">Thoát</a></button>
        
      </div>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Bạn có chắc chắn muốn sửa sản phẩm không?
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Lưu</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>
</body>

<script>
  $(document).ready(function () {

  });
</script>