<body>
  <nav class='navbar navbar-expand-lg bg-body-tertiary' data-bs-theme='dark' style="background-color: #e3f2fd;">
    <div class='container-fluid '>

      <div class='collapse navbar-collapse ' id='navbarSupportedContent'>

        <ul class='navbar-nav mb-2 mb-lg-0 ms-auto'>
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-bell"></i> Thông báo</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-question-circle"></i> Hỗ trợ</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-globe"></i> Tiếng Việt</a>
          </li>
          <li>

            <div class='btn-group'>
              {{#if isLogin}}
              <button type='button' class='btn dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'
                x-placement='left-start'>
                <i class="bi bi-person"></i>
                {{user.fullname}}

              </button>
              <ul class='dropdown-menu'>
                {{#if user.role}}
                <li><a class='dropdown-item' href='#'>Quản lí sản phẩm</a></li>
                {{else}}
                <li><a class='dropdown-item' href='#'>Thông tin tải khoản</a></li>
                <li><a class='dropdown-item' href='/cart'>Giỏ hàng</a></li>
                <li><a class='dropdown-item' href='#'>Đơn mua</a></li>
                {{/if}}

                <li>
                  <hr class='dropdown-divider' />
                </li>
                <li><a class='dropdown-item' href='/logout'>Đăng xuất</a></li>

              </ul>
              {{else}}
              <button type='button' class='btn btn-danger'><a href='/auth/login' class='home-login'>Đăng
                  nhập</a></button>

              {{/if}}
            </div>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <div class="search-bar ">
    <div class="logo d-flex col-2">
      <a href="/">
        <img class="logo-img" src="/img/logo.png" alt="Logo">
      </a>
      <p>FIVE MAN</p>
    </div>
    <div class="search-bar-wrap col-7">

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm">
        <i class="bi bi-search"></i>
      </form>

    </div>
    <a href="/cart"><i class="bi bi-cart4">
        <p class="cart-count">{{user.cart.length }}</p>
      </i></a>


  </div>
  <div class="home-product-type">
    <ul class="d-flex justify-content-center">

      <li class="home-product-items"><a href="/">Trang chủ</a></li>
      <li class="home-product-items"><a href="">Rượu vang</a></li>
      <li class="home-product-items"><a href="">Rượu mạnh</a></li>
      <li class="home-product-items"><a href="">Rượu nhẹ</a></li>
      <li class="home-product-items"><a href="">Bia và Cider</a></li>
      <li class="home-product-items"><a href="">Phụ kiện rượu</a></li>
    </ul>
  </div>

  <div class="event row">
    <div class="col-2"></div>
    <div class="col-4">
      <img src="" alt="">
    </div>
    <div class="col-4"></div>
    <div class="col-2"></div>
  </div>
  <div class="products d-flex flex-wrap">
    {{#each products }}
    <div class="product">
      <a href="/product/{{this._id }}">

        <img class="home-product-img" src="{{this.imgsrc  }}" alt="">
        <hr>
        <h6>{{this.name}}</h6>
        <p>{{this.price}}đ</p>
      </a>

    </div>
    {{/each }}
  </div>


</body>