</div>
<div class="home-product-type">
  <ul class="d-flex justify-content-center">
    <li class="home-product-items"><a href="/">Trang chủ</a></li>
    <li class="home-product-items"><a href="/set/ruouvang">Rượu vang</a></li>
    <li class="home-product-items"><a href="/set/ruoumanh">Rượu mạnh</a></li>
    <li class="home-product-items"><a href="/set/ruounhe">Rượu nhẹ</a></li>
    <li class="home-product-items"><a href="/set/biavacider">Bia và Cider</a></li>
    <li class="home-product-items"><a href="/set/phukien">Phụ kiện rượu</a></li>
  </ul>
</div>
<div class="intro-heading">
  <img class="img-intro-1" src="/img/intro.png" alt="">

  <img class="img-intro-2" src="/img/sp1.png" alt="">
  <img class="img-intro-3" src="/img/sp2.png" alt="">
</div>
<div class="divider">
      <hr class="line">
      <span class="text" style="font-size: 24px;">Sản phẩm</span>
      <hr class="line">
   </div>
<div class="event row">
  <div class="col-2"></div>
  <div class="col-4">
    <img src="" alt="">
  </div>
  <div class="col-4"></div>
  <div class="col-2"></div>
</div>
{{#if notExists }}
<h4 style="padding-left: 100px;">Sản phẩm {{ name }} không hiện tồn tại</h4>
{{else }}
<div style="margin-top: 50px;" class="products d-flex flex-wrap">


  {{#each products }}
  <div class="product">
    <a href="/product/{{this._id }}">
      <img class="home-product-img" src="/uploads/{{this.imgsrc}}" alt="">
      <hr>
      <h6>{{this.name}}</h6>
      <p>{{this.price}}đ</p>
    </a>

  </div>
  {{/each }}
</div>
{{/if }}
