
<div class="product-detail">
  <img class="product-img" src="{{product.imgsrc  }}" alt="">
  <h2>{{product.name}}</h2>
  <h4>{{product.price}} Đ</h4>
  <hr>
  <h5>Sản xuất tại: {{product.origin}}</h5>
  <h5>Mô tả:</h5>
  <h6>{{product.description}}</h6>
  <form action="/product/add-to-cart" method="post">
  <div class="d-flex flex-column">

    <input type="text" hidden value="{{product._id  }}" name="product_id">
    <label for="">Số lượng: <input type="number" name="quantity" min="1" value="1" class="quantity"></label>
    
    <button class="btn btn-danger btn-add-product" type="submit">Thêm vào giỏ hàng</button>
  </div>

  </form>

  {{!-- <button>Mua ngay</button> --}}

</div>