<div class='d-flex justify-content-center'>
  <div class='auth-form'>
     
    <h3>Thông tin tài khoản</h3>
    <form action='/user/update' method='post'>
      <div class='mb-3'>
        <label class='form-label'>Tài khoản</label>
        <input name='username' type='text' class='form-control' value="{{user.username }}" readonly/>
      </div>
      {{#if errors }}
        <p class="incorrect">{{errors.msg}}</p>
      {{/if  }}
     
      <div class='mb-3'>
        <label class='form-label'>Họ và tên</label>
        <input name='fullname' type='text' class='form-control' value="{{user.fullname }}"/>
      </div>
      <div class='mb-3'>
        <label class='form-label'>Số điện thoại</label>
        <input name='phone' type='text' class='form-control' value="{{user.phone }}"/>
      </div>
      <div class='mb-3'>
        <label class='form-label'>Địa chỉ</label>
        <input name='address' type='text' class='form-control' value="{{user.address }}"/>
      </div>
      <button type='submit' class='btn btn-primary'>Sửa thông tin</button>
    </form>

    {{#if user.auth }}
      <p style="font-size:20"><i class="bi bi-check-circle"></i>Tài khoản đã được xác thực</p>
    {{else}}
      {{#if user.userid }}
        <p class="incorrect" style="font-size:20">Tài khoản đang được xác thực</p>
      {{else}}
        <p class="incorrect" style="padding-top: 15px; font-size:20" ><i class="bi bi-x-circle"></i>Tài khoản chưa được xác thực</p>
        <p class="incorrect" style="font-size:20">Xác thực để giảm 2% cho mọi hóa đơn</p>
      {{/if  }}

    {{/if  }}
    {{#if update  }}
        <h5>Sửa thông tin thành công!</h5>
    {{/if  }}
    <a href="/user/add-userid">Xác thực tài khoản</a>
    <br>

    <br>
    <a href="/user/add-creditcard">Thêm thẻ tín dụng/ghi nợ</a>
    <br>
    <a href="/user/add-bankaccount">Thêm tài khoản ngân hàng</a>
    <br>
    <a href="/user/reset-password">Đổi mật khẩu</a>

  </div>

</div>