<html>

<head>
  <meta charset='utf-8' />
  <title>Example App</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM' crossorigin='anonymous' />
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz'
    crossorigin='anonymous'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel='stylesheet' type='text/css' href='/css/style.css' />
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/create.css">
</head>

<body>

  {{#if hideNavbar }}
  {{else }}
  <nav class='navbar navbar-expand-lg bg-body-tertiary' data-bs-theme='dark' style="background-color: #e3f2fd;">
    <div class='container-fluid '>

      <div class='collapse navbar-collapse ' id='navbarSupportedContent'>

        <ul class='navbar-nav mb-2 mb-lg-0 ms-auto'>
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-bell"></i> Thông báo</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-question-circle"></i> Hỗ trợ</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='#'><i class="bi bi-globe"></i> Tiếng Việt</a>
          </li>
          <li>

            <div class='btn-group'>
              {{#if user}}
              <button type='button' class='btn dropdown-toggle' data-bs-toggle='dropdown' aria-expanded='false'
                x-placement='left-start'>
                <i class="bi bi-person"></i>
                {{user.fullname}}

              </button>
              <ul class='dropdown-menu'>
                {{#if user.role}}
                <li><a class='dropdown-item' href='#'>Quản lí sản phẩm</a></li>
                {{else}}
                <li><a class='dropdown-item' href='/user'>Thông tin tải khoản</a></li>
                <li><a class='dropdown-item' href='#'>Đơn mua</a></li>
                {{/if}}

                <li>
                  <hr class='dropdown-divider' />
                </li>
                <li><a class='dropdown-item' href='/logout'>Đăng xuất</a></li>

              </ul>
              {{else}}
              <button type='button' class='btn btn-danger'><a href='/auth/login' class='home-login'>Đăng
                  nhập</a></button>

              {{/if}}
            </div>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  {{/if }}
  {{#if hideSearchBar }}
  {{else }}
  <div class="search-bar ">
    <div class="logo d-flex col-2">
      <a href="/">
        <img class="logo-img" src="/img/logo.png" alt="Logo">
      </a>
      <p>FIVE MAN</p>
    </div>
    <div class="search-bar-wrap col-7">
      <form class="d-flex" role="search" action="/search" method="get">
        <input id="search-input" class="form-control me-2" placeholder="Tìm kiếm" name="query">
        <div id="search-results"></div>
        <button class="search-submit" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
    <a href="/cart"><i class="bi bi-cart4">
        <p class="cart-count">{{user.cart.length }}</p>
      </i></a>
  </div>
  {{/if }}

  {{{body}}}

  {{! </div> }}

</body>

<script>
  $(document).ready(function () {

    $('#search-input').keyup(function () {
      var query = $(this).val();
      if (query != '') {
        $.ajax({
          url: "/search2",
          method: "POST",
          dataType: 'json',
          data: {
            query: query
          },
          success: function (get_data) {
            data = get_data.products
            output = '<ul>';
            if (data.length != 0)
              for (let value = 0; value < data.length; value++) {
                output += '<li> <a href = "/product/' +
                  data[value]._id +
                  '" class="d-flex"> ' +
                  data[value].name +
                  '</a></li>'
              }
            
            output += '</ul>';
            $('#search-results').html(output);

          }
        });
      }
    });



  });

</script>